{% extends 'product/base.html' %}
{% block body_block %}
    <table class="table" border="2">
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Number of Units</th>
            <th scope="col">Order Status</th>
        </tr>
    {% for ord in orders %}
        <tr>
            <td>{{ ord.id }}</td>
            <td>{{ ord.product.name }}</td>
            <td>{{ ord.num_units }}</td>
            <td>{{ ord.order_status }}</td>
        </tr>
    {% endfor%}
    </table>
{% endblock %}